services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4000:80"
    restart: unless-stopped

  backend:
    depends_on:
      - ollama-init:
          condition: service_completed_successfully
      - db
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8001:8001"
    restart: unless-stopped
    environment:
      - RAG_DOCS_DIR=/data/docs
      - RAG_VECTOR_DIR=/data/chroma
    volumes:
      - /srv/homebrain/docs:/data/docs:ro
      - /srv/homebrain/chroma:/data/chroma
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload

  db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - homebrain_db:/var/lib/postgresql/data

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - /srv/ollama:/root/.ollama
    restart: unless-stopped
    envionment:
      - OLLAMA_KEEP_ALIVE=1h
    healthcheck:
      test: ["CMD-SHELL", "ollama list || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 120s

  ollama-init:
    image: ollama/ollama:latest
    depends_on:
      ollama:
        condition: service_healthy
    environment:
      - OLLAMA_HOST=http://ollama:11434
    entrypoint: ["/bin/sh", "-lc"]
    command: >
      ollama list | grep -q "snowflake-arctic-embed:s"
      || ollama pull snowflake-arctic-embed:s
    restart: "no"

  ingest:
    profiles: ["jobs"]
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: "no"
    volumes:
      - /srv/homebrain/docs:/data/docs:ro
      - /srv/homebrain/chroma:/data/chroma
    command: ["python", "-m", "app.agents.rag.ingest"]

volumes:
  homebrain_db:
