services:
  db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - homebrain_db:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8001:8001"
    restart: unless-stopped
    volumes: # for local development
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4000:80"        # host:container (nginx listens on 80)
    restart: unless-stopped

volumes:
  homebrain_db:
